<div class="layout-footer">
    <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="20" class="mr-2"/> -->
    <!-- by
    <span class="font-medium ml-2">Ssoftcom 2023</span> -->
    <div>
        Designed By Carloss Rreyes
        
    </div>

    <!-- <div class="container footer-bottom clearfix">
        <div class="copyright">
        &copy; Copyright <strong><span>Eugene Smith CPA</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        Designed By <a href="https://ssoftcom.com/" target="_blank"> <strong><span>SSOFTCOM</span></strong> </a>
        </div>
    </div> -->

</div>

